<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlienBOt</title>
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="/css/confirmation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="logo">
            <img src="/img/AlienBot 10.png" id="logo" alt="logo-image">
        </div>
        <div class="wrapper"> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg>
        </div>
        <div>
            <p id="random-text">Hey
                <%=username%>, please check your inbox for verifying your email and log into AlienBot
            </p>
        </div>
    </div>
</body>

</html>